<div id="finish-menu" class="row" style="display: none;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12"><h3>Game over!</h3></div>
    </div>
    <div class="row">
      <div class="col-md-12"><button id="tic-game-repeat" class="btn">Repeat game</button></div>
    </div>
    <div class="row">
      <div class="col-md-12"><button id="tic-game-new-game" class="btn">New game</button></div>
    </div>
  </div>
</div>