<div id="game-menu" class="row" style="display: none;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <button id="tic-game-yield" class="btn">Yield</button>
      </div>
    </div>
  </div>
</div>