<div id="setup-menu" class="row" style="display: none;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-offset-1">Game rules</div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <span>Size</span>
        <div class="radio">
          <label><input id="size-3" type="radio" name="size" checked>3x3</label>
        </div>
        <div class="radio">
          <label><input id="size-4" type="radio" name="size">4x4</label>
        </div>
        <div class="radio">
          <label><input id="size-5" type="radio" name="size">5x5</label>
        </div>
      </div>
      <div class="col-md-6">
        <span>Other:</span>
        <div class="checkbox">
          <label><input id="diag-forb" type="checkbox" name="diag-forb">diagonal forbidden</label>
        </div>
        <div class="checkbox">
          <label><input id="short-game" type="checkbox" name="short-game">short game (3 cells) / full game</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="tic-game-fig">Select figure:</label>
        <select class="form-control" id="tic-game-fig">
          <option selected="selected">X</option>
          <option>O</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"><button id="tic-game-start" class="btn">Game start</button></div>
    </div>
  </div>
</div>