<div id="wait-menu" class="row" style="display: none;">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12"><span>Waiting for oponent...</span></div>
    </div>
  </div>
</div>