<div class="row chat-window col-xs-5 col-md-3" id="chat_window_1" style="margin-left:10px;">
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading top-bar">
            <div class="col-md-8 col-xs-8">
                <h3 class="panel-title">
                    <span id="chat-username" class="glyphicon glyphicon-comment"></span>
                </h3>
            </div>
            <div class="col-md-4 col-xs-4 chat-icons" style="text-align: right;">
                <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                <a class="chat-logout user-logged-in" style="display: none;">
                    <span class="glyphicon glyphicon-off" style="color: red;"></span>
                </a>
            </div>
        </div>
        <div class="chat-panel-body msg_container_base"></div>
        <div class="chat-panel-footer">
            <div class="input-group user-logged-in" style="display: none;">
                <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" id="btn-chat">Send</button>
                </span>
            </div>
            <div class="input-group user-logged-out">
                <input id="btn-username" type="text" class="form-control input-sm chat_input" placeholder="Enter your username..." />
                <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" id="btn-login">Connect to chat</button>
                </span>
            </div>
        </div>
    </div>
</div>