{% extends "base.html" %}

{% block title %}Tic Tac Toe main page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tic.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/helpers.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/blockDataNames.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/ticLogic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/ticEvents.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/chatEvents.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sockets.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <span>Users online: <div id="user-count"></div></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <table id="tic-table" class="table"></table>
        </div>
        <div class="col-md-6">
            {% include "index/game_menu.html" %}
            {% include "index/wait_menu.html" %}
            {% include "index/setup_menu.html" %}
            {% include "index/finish_menu.html" %}
        </div>
    </div>
    {% include "chat.html" %}
</div>
{% endblock %}