{% macro chat_post(user, msg, current_time) %}
<div class="row msg_container base_{{ user.chat_role }}">
    <div class="col-md-10 col-xs-10">
        <div class="messages msg_sent">
            <p>{{ msg }}</p>
            <time datetime="{{ current_time.isoformat() }}">{{ user.username }} • {{ current_time.strftime('%H:%M') }}</time>
        </div>
    </div>
    <div class="col-md-2 col-xs-2 avatar">
{#         <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive "> #}
    </div>
</div>
{% endmacro %}